.cardText {
    display: inline-grid;
}
.cardTextAlignCenter {
    text-align: center;
}
.cardItem {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.imgWidth {
    width: 100px;
}
.cartItem {
    display: flex;
    align-items: center;
    background: antiquewhite;
    border: 1px solid darkgray;
    margin: 2px;
}
.cardContainer {
    width: 100%;
}
.prodAction {
    position: absolute;
    right: 0;
    padding-right: 20px;
}
.cartTotalItems {
    padding-right: 20px;
    padding-left: 20px;
}