.loginContainer {
    width: 100%;
    background: #686982;
    height: 100%;
    position: absolute;
    color: white;
    img {
        width: 100px;
    }
}

.signUpForm {
    margin: 0 auto;
    width: 200px;
}