.card {
    border: 1px Solid darkgray;
}

.container {
    padding: 10px;
}

.cardText {
    display: inline-grid;
    .btn {
        padding: 20px
    }
}
.products {
    text-align: left;
}
.headerCont {
    display: flex;
    margin: 10px
}
.p {
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 15px;
    }
}
.searchBox {
    margin-left: 20px;
}